
// Body
$body-bg: #f8f6ff;

// Typography
$font-family-sans-serif: "questrial", sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


#foot{
    height:180px;
    max-width: 100%;
    margin-bottom: 0%;
}

html body {
    margin: 0;
    padding: 0;
}

#copyright{
    font-size: 26px;
    margin-top: 140px;
}