
// Body
$body-bg: #f8f6ff;

// Typography
$font-family-sans-serif: "questrial", sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


#foot{
  background-color: #7c7c7c75;
  height: 170px;
}

html body {
    margin: 0;
    padding: 0;
}

#hoofd {
    text-align:center;
    margin-top: 30px;
}

#copyright{
    font-size: 26px;
   text-align: center;
}

#product{
    margin-left: 40px;
    margin-top: 40px;
}

#link {
    color:inherit;
  text-decoration: none;
}

#product-image {

    max-width:150px;
    margin-top: 30px;
}

#paginate {
    margin-top: 30px;
    
}

